<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-lg-6">
        <div class="left">
          <ul>
            <li class="logo">
              <h4>
                we <span>unfold</span> it.
              </h4>
            </li>
            <li>
              {{ site.location }}
            </li>
            <li>

              <a href="mailto:{{ site.email }}?Subject=Hello" target="_top">
                <i class="fa fa-envelope-o"></i>
                {{ site.email }}
              </a>
            </li>
            <li>
              <i class="fa fa-phone"></i>
              {{ site.phone }}
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-lg-6">
        <div class="right">
          <a href="{{ site.facebook }}">
            <i class="fa fa-2x fa-facebook"></i>
          </a>
          <a href="{{ site.twitter }}">
            <i class="fa fa-2x fa-twitter"></i>
          </a>
          <a href="{{ site.pinterest }}">
          <i class="fa fa-2x fa-pinterest"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>