
  <meta name="description"           content="{ site.meta.description }" />

  <!-- Geocoding -->
  <meta name="geo.placename"         content="{ site.meta.geo_placename }" />
  <meta name="geo.position"          content="{ site.meta.geo_position }" />
  <meta name="geo.region"            content="{ site.meta.geo_region }" />

  <!-- Microdata -->
  <meta itemprop="name"              content="{ site.meta.name }" />
  <meta itemprop="description"       content="{ site.meta.description }" />
  <meta itemprop="image"             content="{ site.meta.image }" />

  <!-- Facebook Open Graph data -->
  <meta property="og:site_name"      content="{ site.meta.fb_site_name }" />
  <meta property="og:title"          content="{ site.meta.fb_title }" />
  <meta property="og:description"    content="{ site.meta.fb_description }" />
  <meta property="og:image"          content="{ site.meta.fb_image }" />
  <meta property="og:type"           content="{ site.meta.fb_type }" />
  <meta property="og:url"            content="{ site.meta.fb_url }" />

  <!-- Google+ -->
  <meta itemprop="name"              content="{ site.meta.google_name }" />
  <meta itemprop="description"       content="{ site.meta.google_description }" />
  <meta itemprop="image"             content="{ site.meta.google_image }" />

  <!-- Twitter Card data -->
  <meta name="twitter:card"          content="{ site.meta.twitter_card_type }" />
  <meta name="twitter:site"          content="{ site.meta.twitter_site }" />
  <meta name="twitter:title"         content="{ site.meta.twitter_title }" />
  <meta name="twitter:description"   content="{ site.meta.twitter_description }" />
  <meta name="twitter:image:src"     content="{ site.meta.twitter_image }" />