<div class="black-navbar">
  <a href="{{ site.url  }}{{ site.baseurl  }}">
    <div class="logo">
      <img src="{{ site.url  }}{{ site.baseurl  }}images/logo.png" alt="Odyssee logo">
    </div>
  </a>
</div>
<div class="white-navbar">
  <div class="nav-items">
  <div class="nav-item">
  <a href="{{ site.url  }}{{ site.baseurl  }}">
    <img src="{{ site.url  }}{{ site.baseurl  }}images/logo_rond.png" alt="Odyssee Logo" class="nav-logo">
  </a>
  </div>
   {% for nav-item in site.navigation_items %}
   <div class="nav-item">
    <a href="{{ site.url  }}{{ site.baseurl  }}{{ nav-item.last }}">{{ nav-item.first }}</a>
    <div class="underline-animation"></div>
  </div>
  {% endfor %}
</div>
</div>