.btn {
  border: none;
  border-radius: 2px;
}

.btn-default {
  background-color: $brand-color;
  color: white;
  opacity: 0.8;
  transition: opacity 200ms ease;
  &:hover {
    opacity: 1.0;
    background-color: $brand-color;
    color: white;
  }
}

.btn-odyssey {
  background-color: $brand-color;
  color: white;
  padding: 15px;
  border-radius: 1px;
  display: block;
  text-align: center;
  box-shadow: 1px 1px 4px rgba(1,1,1,0.3);
}

.odyssee-link {
  margin: 30px 0;
  display: block;
}