.footer {
  width: 100vw;
  background-color: white;
  border-top: 1px solid #e6e6e6;
  margin-top: 50px;

  a {
    transition: color 200ms ease;
    color: $brand-gray;
    text-decoration: none;
    &:hover {
      color: $brand-color;
    }
  }
  .left {
    margin: 20px auto;
    width: 200px;
    .logo {
      height: 45px;
    }
    ul {
      list-style: none;
      li {
        margin: 5px;
      }
    }
  }

  .right {
    margin: 40px auto;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 130px;
    .social-icons {
      display: flex;
      justify-content: space-between;
      width: 100px;
    }
    .credit {
      img {
        width: 50px;
      }
    }
  }
}