.introduction {
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .left {
    background-size: cover;
    height: 350px;
  }
  .right {
    margin: 0px 20px;
    span {
      color: $brand-color;
    }
    p {
      font-size: 12pt;
      line-height: 28px;
    }
    h1 {
      margin-top: 0px;
      color: $text-color;
    }

  }
}